<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery.mCustomScrollbar.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-tagsinput.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.mCustomScrollbar.concat.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/InoReader.js")"></script> 
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img alt="Brand" src="@Url.Content("~/Content/logo-2.png")" height="25">
                </a>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">InoReader</a>
            </div>
            @if (Request.IsAuthenticated)
            {
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                &nbsp; @User.Identity.Name &nbsp;
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="divider"></li>
                                <li>@Html.ActionLink(" Выйти", "Logout", "Account", null, new { @class = "glyphicon glyphicon-off" })</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="container .col-xs-12 .col-sm-6 .col-md-8" id="banner">
        @if (Request.IsAuthenticated)
        {
            <div class="blog-header">
                <h1 class="blog-title">InoReader</h1>
                <p class="lead blog-description">Управляй своими RSS подписками.</p>
            </div>
            @Html.Partial("ManagementMenu")
            <hr />

            <div class="row">
                <div class="col-sm-4">
                    @Html.Action("SideBar", "InoReader")
                </div>
                <div class="col-sm-8" id="bodyContainer">
                    @RenderBody()
                </div>
            </div>
        }
        else
        {
            @RenderBody() 
        }
        <footer>
            <hr />
            <p class="text-muted text-center">© Inostudio Solutions @DateTime.Now.Year</p>
        </footer>
    </div>

    
</body>
</html>
