@model Domain.Models.SideBarModel
@{
    Layout = null;
}


<div class="panel-group " id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                    @Html.ActionLink("Все ссылки и RSS", "Index", "InoReader")
                    <span class="pull-right glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
            </h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                @Html.ActionLink("Категории", "AllCategories", "InoReader")
                <a class="pull-right glyphicon glyphicon-th-list" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-hidden="true"></a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                @Html.ActionLink("Без категории", "GetLinksByCategory", "InoReader",
                         new { itemId = -1, itemName = "Без категории", order = true, page = 0},
                         new { @class = "btn btn-link" })
                @{
                    if (Model.CategoriesList.Count != 0)
                    {
                        <hr />
                        <ul>
                            @foreach (var category in Model.CategoriesList)
                            {
                                <li>
                                    @Html.ActionLink(category.Title, "GetLinksByCategory", "InoReader",
                                         new { itemId = category.CategoryId, itemName = category.Title, order = true, page = 0},
                                         new { @class = "btn btn-link" })
                                </li>
                            }
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                @Html.ActionLink("Тэги", "AllTags", "InoReader")
                <a class="pull-right glyphicon glyphicon-th-list" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"></a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                @{
                    if (Model.TagsList.Count != 0)
                    {
                        foreach (var tag in Model.TagsList)
                        {
                             @Html.ActionLink(tag.Title, "GetLinksByTag", "InoReader",
                                         new { itemId = tag.TagId, itemName = "#" + tag.Title, order = true, page = 0},
                                         new { @class = "btn btn-link" })
                        }
                    }
                    else
                    {
                        <h1 class="lead">Вы не добавили ни одного тэга</h1>
                    }
                }
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                @Html.ActionLink("RSS подписки", "Index", "InoReader", new { rssOnly = true }, null)
                <a class="pull-right glyphicon glyphicon-th-list" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"></a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse ">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        @if (Model.RssCanals.Count != 0)
                        {
                            foreach (var canal in Model.RssCanals)
                            {
                                @Html.ActionLink(canal.Title, "GetRss", "InoReader",
                                         new { itemId = canal.RssCanalId, itemName = canal.Title, page = 0},
                                         new { @class = "btn btn-link" })
                                <hr />
                            }
                        }
                        else
                        {
                            <h1 class="lead">Нет RSS подписок</h1>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
