@model Domain.Models.LoginModel
@{
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "result",
        OnSuccess = "ModalAccountSuccess",
    };
}
 
<div class="result">
    @using (Ajax.BeginForm("Login", "Account", null, ajaxOpts, new { @class = "form-horizontal", @id = "loginForm" }))
    {
        //@Html.AntiForgeryToken()
        <div id="result">
            <div class="form-group">
                <label class="col-lg-2 control-label lead">Логин</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Введите логин", @type = "text" })
                    @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "label label-warning" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label lead">Пароль</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Введите пароль", @type = "password" })
                    @Html.ValidationMessageFor(x => x.Password, null, new { @class = "label label-warning" })
                    @Html.ValidationMessage("UserNotFound", new { @class = "label label-warning" })
                    @Html.ValidationMessage("Error", new { @class = "label label-warning" })
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            Запомнить меня
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a href="/" class="btn" data-dismiss="modal" aria-hidden="true">Отмена</a>
                    <button type="submit" value="create" class="btn btn-default" id="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Войти</button>
                </div>
            </div>
        </div>
    }
</div>