@model Domain.Models.RegistrationModel
@{
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "result",
        OnSuccess = "ModalAccountSuccess"
    };
}
@using (Ajax.BeginForm("Registration", "Account", null, ajaxOpts, new { @class = "form-horizontal", role = "form" }))
{
    <fieldset id="result">
        <div class="form-group">
            <label  class="col-lg-2 control-label lead">Логин</label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control",  @placeholder = "Введите логин", @type = "text" })
                @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "label label-warning" })
                @Html.ValidationMessage("Error", new { @class = "label label-warning" })
            </div>
            
        </div>
        <div class="form-group">
            <label  class="col-lg-2 control-label lead">E-mail</label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Введите E-mail", @type = "text" })
                @Html.ValidationMessageFor(x => x.Email, null, new { @class = "label label-warning" })
            </div>
        </div>
        <div class="form-group">
            <label  class="col-lg-2 control-label lead">Пароль</label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control",  @placeholder = "Введите пароль", @type = "password" })
                @Html.ValidationMessageFor(x => x.Password, null, new { @class = "label label-warning" })
            </div>
        </div>
        <div class="form-group">
            <label  class="col-lg-2 control-label lead">Повторите пароль</label>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Введите пароль", @type = "password" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "label label-warning" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-lg-offset-2">
                <a href="/" class="btn" data-dismiss="modal" aria-hidden="true">Отмена</a>
                <button type="submit" class="btn btn-default btn-submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Зарегистрироваться</button>
            </div>
        </div>
    </fieldset>
}

