@model Domain.Models.NewLinkModel
@{

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "resultNewLink",
        OnSuccess = "Redirect",
    };
}
<div id="resultNewLink">
    @using (Ajax.BeginForm("AddLink", "InoReader", null, ajaxOpts, new { @class = "form-horizontal", @id = "loginForm" }))
    {
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="col-lg-11">
                    <div class="form-group">
                        <label for="inputLogin" class="col-lg-2 control-label lead">Ссылка</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Url, new { @class = "form-control", @id = "inputLinkUrl", @placeholder = "Введите URL", @type = "text" })
                            @Html.ValidationMessageFor(x => x.Url, null, new { @class = "label label-warning" })
                            @Html.ValidationMessage("LinkError", new { @class = "label label-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label lead">Категория:</label>
                        <div class="col-lg-10">

                            @Html.DropDownListFor(x => x.CategoryId, new SelectList(Model.Categories, "CategoryId", "Title", Model.CategoryId), "Без категории", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label lead">Тэги:</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.TagsInString, null, new { @class = "form-control wide-control ", @id = "bootstrap-tagsinput", @placeholder = "Введите тэг", @type = "text" })
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a href="/" class="btn" data-dismiss="modal" aria-hidden="true">Отмена</a>
                            <button type="submit" value="create" class="btn btn-default" id="submitLink"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script>
        $("#bootstrap-tagsinput").tagsinput('items');
        $('#bootstrap-tagsinput').attr('data-role', 'tagsinput');
        function Redirect(data) {
            if (data.success) {
                setTimeout('location.replace("' + data.redirectLink + '")');
            }
        };
    </script>
    }
</div>