@model Domain.Models.LinkModel

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h4><a href="@Model.Url" target="_blank">@Model.Title</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1 ">
            <h5 class="text-left">
                Категория:
                @if (@Model.CategoryId != null)
                {
                    @Html.ActionLink(Model.CategoryName, "GetLinksByCategory", "InoReader", 
                    new { itemId = Model.CategoryId, itemName = Model.CategoryName, order = ViewData["Order"], page = 0}, 
                    new{@class = "btn"})
                }
                else
                {
                    @Html.ActionLink("Без категории", "GetLinksByCategory", "InoReader", 
                    new { itemId = -1, itemName = "Без категории", order = ViewData["Order"], page = 0},
                         new { @class = "label label-default" })
                }
            </h5>
        </div>
        <div class="col-sm-5 ">
            <h4 class="text-right"><small>дата добавления: @Model.DateWhenAdded.ToShortDateString()</small></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p class="text-justify mute">
                Тэги: &nbsp;
                @if (Model.Tags.Count != 0)
                {
                    foreach (var tag in Model.Tags)
                    {
                         @Html.ActionLink("#"+@tag.Title, "GetLinksByTag", "InoReader", 
                         new { itemId = tag.TagId, itemName = "#" + tag.Title, order = ViewData["Order"], page = 0},
                         new { @class = "label label-info" })
                        <text>&nbsp;</text>
                    }
                }
                else
                {
                    <a class="label label-default" id="-1">отсутствуют</a>
                }
            </p>
        </div>
    </div>
    <hr />



