@model Domain.Models.PagedLinksModel
<div class="row">
    <div class="col-sm-12 text-right">
        <ul class="pagination">
            @if (Model.CurrentPage == 0)
            {
                <li class="disabled"><a class="btn">«</a></li>

                for (int i = 0; i < Model.TotalPages; i++)
                {
                    if (Model.CurrentPage == i)
                    {
                        <li class="active"><a class="btn">@(i + 1)</a></li>
                    }
                    else
                    {
                       
                        <li>
                            <a class="btn paginationButton" id="@Url.Action(Model.ActionName, "InoReader", 
                                                            new { itemId = Model.ItemId, itemName = ViewBag.Title, order = Model.Order, page = i })">@(i + 1)</a>
                        </li>
                    }
                }
                <li>
                    <a class="btn paginationButton" id="@Url.Action(Model.ActionName, "InoReader",
                                                            new { itemId = Model.ItemId, itemName = ViewBag.Title, order = Model.Order, page = Model.CurrentPage + 1 })">»</a>
                </li>
            }
            else
                if (Model.CurrentPage == Model.TotalPages - 1)
                {
                    <li>
                        <a class="btn paginationButton" id="@Url.Action(Model.ActionName, "InoReader",
                                                            new { itemId = Model.ItemId, itemName = ViewBag.Title, order = Model.Order, page = Model.TotalPages - 2 })">«</a>
                    </li>

                    for (int i = 0; i < Model.TotalPages; i++)
                    {
                        if (Model.CurrentPage == i)
                        {
                            <li class="active">
                                <a class="btn">@(i + 1)</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="btn paginationButton" id="@Url.Action(Model.ActionName, "InoReader",
                                                            new { itemId = Model.ItemId, itemName = ViewBag.Title, order = Model.Order, page = i })">@(i + 1)</a>
                            </li>
                        }
                    }
                    <li class="disabled"><a class="btn">»</a></li>
                }
                else
                {
                    <li>
                        <a class="btn paginationButton" id="@Url.Action(Model.ActionName, "InoReader",
                                                            new { itemId = Model.ItemId, itemName = ViewBag.Title, order = Model.Order, page = Model.CurrentPage - 1 })">«</a>
                    </li>

                    for (int i = 0; i < Model.TotalPages; i++)
                    {
                        if (Model.CurrentPage == i)
                        {
                            <li class="active"><a class="btn">@(i + 1)</a></li>
                        }
                        else
                        {
                            <li>
                                <a class="btn paginationButton" id="@Url.Action(Model.ActionName, "InoReader",
                                                            new { itemId = Model.ItemId, itemName = ViewBag.Title, order = Model.Order, page = i })">@(i + 1)</a>
                            </li>
                        }
                    }
                    <li>
                        <a class="btn paginationButton" id="@Url.Action(Model.ActionName, "InoReader",
                                                            new { itemId = Model.ItemId, itemName = ViewBag.Title, order = Model.Order, page = Model.CurrentPage + 1 })">»</a>
                    </li>
                }
        </ul>
    </div>
</div>